---
import BotonIniciarSesion from './Boton_iniciar_sesion.astro';
import BotonRegistrarte from './Boton_registrarte.astro';
interface Props {
  title: string;
  body: string;
}

const { title, body} = Astro.props;
---


<li class="link-card mx-auto my-10 p-4 max-w-6xl">
  <div class="botones max auto my-8 space-x-4 px-6 py-3 text-lg">
    <section class="">
      <BotonIniciarSesion
        titleButton='Iniciar Sesión'
        href='http://reclaimearth.000webhostapp.com/src/login.php'
      />
    </section>
    <section>
      <BotonRegistrarte
      titleButton='Registrarse'
      href='#'
    />
    </section>
  </div>
  <h2 class="text-lg font-italic mb-2">
    {title}
    <span></span>
  </h2>
  <p class="text-gray-700">
    {body}
  </p>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    background-color: white;
    border-radius: 7px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
  }
  .link-card > h2 {
    margin: 0;
    font-size: 2rem;
    color: #4CAF50;
  }
  .link-card > p {
    margin-top: 0.5rem;
	  text-align: center;
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  .botones {
    display: flex;
    justify-content: space-around;
    
  }

</style>
